

.inputForm {
    display: flex;

}

.chbt {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 39px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.listCh {
    padding-right: 10px;

}

.itemCont {
    overflow: auto;
    -ms-overflow-style: none; /* for Internet Explorer and Edge */
    scrollbar-width: none; /* for Firefox */

    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 1em;
    }

    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 1em;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a5;
    }

    &::-webkit-scrollbar-corner {
      background-color: #f2f2f2;
    }
  }