

.inputForm {
    display: flex;

}

.chbt {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 39px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.listCh {
    padding-right: 10px;

}