

.inputForm {
    display: flex;

}

.chbt {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 39px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.darkDynamic {
    overflow: auto;
    max-height: 70vh;
}
.lightDynamic {
    overflow: auto;
    max-height: 70vh;
}

.textOpen {
  text-align: left;
  padding-bottom: 15px;
  animation: opening 1s ease-in-out;

}

.textClose {
  animation: opening 1s ease-in-out;
}

.listCh {
    padding-right: 10px;

}

.moreInfoCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.itemCont  {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 1em;
    }

    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 1em;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a5;
    }

    &::-webkit-scrollbar-corner {
      background-color: #f2f2f2;
    }
  }


  @keyframes opening {
    0%   {
      opacity: 0;
      height: 0px;
    }
    50%  {
      opacity: 0.5;
      height: 50%;
    }
    100% {
      opacity: 1;
      height: auto;
    }
  }

  @keyframes closing {
    0% {
      opacity: 1;
      height: auto;
    }
    50% {
      opacity: 0.5;
      height: 50%;
    }
    100% {
      opacity: 0;
      height: 0px;
    }
  }



  .darkDynamic, .lightDynamic {
    overflow: auto;
    max-height: 70vh;
  }

  ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1em;
  }

  ::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 1em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
  }

  ::-webkit-scrollbar-corner {
    background-color: #f2f2f2;
  }


@media only screen and (max-width: 767px) {


  .smol {
    padding-bottom: 20px;
    height: 50vh;
    overflow: scroll;
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .smol {
    /* padding-bottom: 20px; */
    height: 70vh;
    overflow: scroll;
    position: relative;
  }
}