

.App {
  height:auto;
  overflow: scroll;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mains {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dark {
  background-color: RGB(60, 64, 66);
  color:#111;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.light {
  background-color: #fff;
  color: #111;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
}

ul, li {
  list-style-type: none
}


p {
  margin: 10px;
}
