

.App {
  height:auto;
  overflow: scroll;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.nav-link-custom {
  color: rgb(192, 190, 192) !important;

}

.nav-link-custom:hover,
.nav-link-custom:focus,
.nav-link-custom:active {
  color: rgb(192, 190, 192) !important;
  background: rgb(52, 53, 65) !important;
}

.darkNav[aria-selected="true"] {
  color: rgb(192, 190, 192) !important;
  background-color: rgb(52, 53, 65) !important;
  background: RGB(52, 53, 65) !important;
}

.darkNav:active {
  color: rgb(192, 190, 192) !important;
  background-color: rgb(0, 0, 0) !important;
  background: rgb(52, 53, 65) !important;
  border: 2px solid rgb(29, 29, 29) !important;
}
.darkNav:focus{
  color: rgb(192, 190, 192) !important;
  background-color: rgb(0, 0, 0) !important;
  background: rgb(52, 53, 65) !important;
  border: 2px solid rgb(53, 53, 53) !important;
}
.darkNav:focus-visible {
  color: rgb(192, 190, 192) !important;
  background-color:rgb(52, 53, 65) !important;
  background: rgb(52, 53, 65) !important;
  border: 2px solid black !important;
}

.App-link {
  color: #61dafb;
}

.mains {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dark {
  background-color: RGB(60, 64, 66);
  color:#111;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.light {
  background-color: #fff;
  color: #111;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

h1 {
  text-align: center;
  padding-top: 25px;
}

h4 {
  padding-top: 25px;
}

ul, li {
  list-style-type: none
}


p {
  margin: 10px;
}


@media only screen and (max-width: 767px) {
  .App{

    /* padding-bottom: 15px; */
    height: auto;
    overflow: scroll;
    /* position: relative; */
  }
}